// imposto le caratteristiche generali dello style della pagina
@import './variables';

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  width: $container-width;
}

.debug {
  border: 1px solid black;
}

.debug-w {
  border: 1px solid white;
}

ul li {
  list-style: none;
  a {
    text-decoration: none;
    color: white;
  }
}