// principali macro variabili

$primary-color: #ff6901;
$secondary-color: #1a1a1a;
$discount-color: #ff0000;
$text-primary-color: black;
$text-secondary-color: white;
$container-width: 1200px;
$primary-font: 'Roboto', sans-serif;